<ul>
    {% for nodeId, category in categories %}
        <li>
            <strong>{{ category.text }}</strong>

            {% if category.children|length > 0 %}
                {% include 'category/_subcategoriesV2.html.twig' with {'categories': category.children} %}
            {% else %}
                    {# btt here if no children #}
                    <br>
                    <br>
{#                    <a target="_blank" class="badge bg-green text-green-fg" href="{{ url('listArticlesByCarAndProductGroup', {'vehicleId': vehicleId, 'productGroupId': nodeId, 'manufacturerId':manufacturerId, 'langId':langId, 'countryFilterId':countryFilterId, 'typeId':typeId   }) }}">List products</a>#}
                    <br>
{#                    <a target="_blank" class="badge bg-green text-green-fg" href="{{ url('listOemArticlesByCarAndProductGroup', {'vehicleId': vehicleId, 'productGroupId': nodeId, 'manufacturerId':manufacturerId, 'langId':langId, 'countryFilterId':countryFilterId, 'typeId':typeId } ) }}">List OEM products</a>#}
                    <hr>
            {% endif %}
        </li>
    {% endfor %}
</ul>
