<div class="row">
    <div class="col-10">
        <h1 class="page-title"><a href="{{ url('home') }}">AUTO PARTS CATALOG 2024</a></h1>
    </div>
    <div class="col-2">
        <a target="_blank" href="https://makingdatameaningful.com/contact/" class="pull-right btn btn-primary btn">Contact</a>
    </div>
</div>
<hr>